@import 'variables.pcss';

.content {
  max-width: 1000px;
  margin: 10px auto;
  display: grid;
  grid-gap: $gap;
  grid-template-columns: repeat(6, 150px);
  grid-auto-flow: dense;

  .banners,
  .products {

    /* display: contents;
    margin: auto; */
  }
}
