.banner {
  background: url(../images/banner.png) 50% 50% no-repeat;
  background-size: 90% auto;
  height: 240px;
  width: 150px;

  /* grid-row-start: 3;
  grid-column-start: 2; */
}
.banner--wide {
  background-image: url(../images/banner-wide.png);
  background-size: cover;
  height: 240px;
  width: calc(150px*6 + 20px*5);

  /* grid-row-start: 4;
  grid-column: span 6; */
}
